In [10]:
#Qustion number 3
unit=int(input("How many unit "))
if unit<=0:
    print("You have to pay 0")
if unit>0 and unit<=100:
    rs=4.5*unit
    print("You have to pay",rs)
if unit>100 and unit<=200:
    unit=unit-100
    for unit in range (1,unit+1):
        rs=450+6*unit
    print("You have to pay",rs)
if unit>200 and unit<=300:
    unit=unit-200
    for unit in range(1,unit+1):
        rs=450+600+10*unit
    print("You have to pay",rs)
if unit>300:
    unit=unit-300
    for unit in range(1,unit+1):
        rs=450+600+1000+20*unit
    print("You have to pay",rs)

How many unit 310
You have to pay 2250

In [63]:
# qustion number 4
num=100
l=[]
l1=[]
for num in range(1,num+1):
    l.append(num**3)
for num in range(1,num+1):
    if (num**3)%4==0 or (num**3)%5==0:
        l1.append(num**3)

In [64]:
print("Cube of 1 to 100\n\n",l)
print("\n\nCube of 1 to 100 which is divisible by 4 or 5\n\n",l1)

Cube of 1 to 100

 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]


Cube of 1 to 100 which is divisible by 4 or 5

 [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [89]:
#qustion number 5
l=[]
string = "I want to become a data scientist"
for count in string:
    
    if count=='a' or count=='A' or count=='E' or count=='e' or count=='I' or count=='i' or count=='O' or count=='o' or count=='U' or count=='u':
        l.append(count)

In [90]:
print(l)

['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']

In [92]:
#qustion number 2
num=10
sum1=0
multi=1
for i in range(1,num+1):
    sum1=sum1+i
    multi=multi*i
print("The addtion of first 10 number ",sum1," multiplication of 10 number ",multi)

The addtion of first 10 number  55  multiplication of 10 number  3628800